flows/Address_Location_New_Action.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Address_Present_to_False_on_Edit</name>
        <label>Address Present to False on Edit</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>IsAddressPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Address_Location_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Address_Present_to_False_on_Edit_0</name>
        <label>Address Present to False on Edit</label>
        <locationX>1634</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>IsAddressPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Address_Location_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Address_Present_to_True_on_Edit</name>
        <label>Address Present to True on Edit</label>
        <locationX>545</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>IsAddressPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Address_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Address_Present_to_True_on_Edit_0</name>
        <label>Address Present to True on Edit</label>
        <locationX>1898</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>IsAddressPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>location_Record_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_From_Status1</name>
        <label>Update Status From PendingPayment</label>
        <locationX>776</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>StatusToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentStatusToPendingPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Edit_Status_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_From_Status3_0</name>
        <label>Update Status From Active</label>
        <locationX>622</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>StatusToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentStatusToActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Edit_Status_is_blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_From_Status3_0_0</name>
        <label>Update Status From InActive</label>
        <locationX>490</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>StatusToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentStatusToInactive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Associated_Location</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActiveStatus</name>
        <choiceText>Active</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddresdTypeOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExistingValue</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Associated_Location_Record.Status__c}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Associated_Location_Record.Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>InactiveStatus</name>
        <choiceText>Inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentPendingStatus</name>
        <choiceText>Pending Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Payment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Address_for_Edit</name>
        <label>Check Address for Edit</label>
        <locationX>297</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Address_Present_to_True_on_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEditAddressIsEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddressToUpdate.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressToUpdate.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressToUpdate.province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressToUpdate.postalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddressToUpdate.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Present_to_False_on_Edit</targetReference>
            </connector>
            <label>CheckEditAddressIsEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Address_for_Edit_0</name>
        <label>Check Address for Edit</label>
        <locationX>1766</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Address_Present_to_True_on_Edit_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckEditAddressIsEmpty_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewAddress.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAddress.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAddress.province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAddress.postalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAddress.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAddress.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAddress.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAddress.province</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Present_to_False_on_Edit_0</targetReference>
            </connector>
            <label>CheckEditAddressIsEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assocaited_Location_Record</name>
        <label>Check Assocaited Location Record</label>
        <locationX>1031</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Associated_Location_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Address_Location_0_0</targetReference>
            </connector>
            <label>Check Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Primary_Address</name>
        <label>Check If Primary Address</label>
        <locationX>545</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Update_Status_From_Status1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Associated_Location_Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Update_Confirmation_Message</targetReference>
            </connector>
            <label>Is Primary Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Edit_Status_is_blank</name>
        <label>If Edit Status is blank</label>
        <locationX>776</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Update_Associated_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_From_Status3_0</targetReference>
            </connector>
            <label>If Status is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Edit_Status_is_blank_0</name>
        <label>If Edit Status is blank</label>
        <locationX>622</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Update_Associated_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_From_Status3_0_0</targetReference>
            </connector>
            <label>If Status is Blank</label>
        </rules>
    </decisions>
    <description>version 4 by shahid &amp; Dileep
19-10-2022</description>
    <dynamicChoiceSets>
        <name>country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AddressType</picklistField>
        <picklistObject>Address</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountyChoiceSet</name>
        <dataType>String</dataType>
        <displayField>County__c</displayField>
        <limit>100</limit>
        <object>Address</object>
        <sortField>County__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>countyPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>County__c</picklistField>
        <picklistObject>Address</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountyToUpdatePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>County__c</picklistField>
        <picklistObject>Address</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>locationtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LocationType</picklistField>
        <picklistObject>Location</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>AssociatedLocation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Statusvalue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>AssociatedLocation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>AssociatedLocation</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Address Location - New Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address Location - New Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Address_Record_0</name>
        <label>Address Record</label>
        <locationX>1898</locationX>
        <locationY>1045</locationY>
        <assignRecordIdToReference>AddressId</assignRecordIdToReference>
        <connector>
            <targetReference>update_location_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>NewAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>NewAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Business Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>NewAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>NewAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>NewAddress.street</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Associated_Location_0_0</name>
        <label>Create Associated Location</label>
        <locationX>1898</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>AccountDetailPage_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type1_0</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>location_Record_0_0_0</name>
        <label>location Record</label>
        <locationX>1898</locationX>
        <locationY>926</locationY>
        <assignRecordIdToReference>locationId</assignRecordIdToReference>
        <connector>
            <targetReference>Address_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Business Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Location_Name_0</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordLookups>
        <name>Associated_Location_Record</name>
        <label>Associated Location Record</label>
        <locationX>1031</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assocaited_Location_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssociatedLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_0</name>
        <label>Get Account Record</label>
        <locationX>1766</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Address_Location_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Address_Record</name>
        <label>Update Address Record</label>
        <locationX>545</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Update_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Address_Update_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Associated_Location_Record.Location.VisitorAddressId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>AddressToUpdate.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>AddressToUpdate.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>CountyToUpdatePL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>AddressToUpdate.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>AddressToUpdate.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>AddressToUpdate.street</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Associated_Location</name>
        <label>Update Associated Location</label>
        <locationX>776</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Address_Update_Confirmation_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Associated_Location_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Associated_Location_Record.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type1_0_0</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedLocation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location</name>
        <label>Update Location</label>
        <locationX>545</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Check_If_Primary_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Associated_Location_Record.LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Location_Name_0_0</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_location_Record_0</name>
        <label>update location Record</label>
        <locationX>1898</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_Associated_Location_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>AddressId</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AccountDetailPage_0</name>
        <label>AccountDetailPage</label>
        <locationX>1898</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_message_0</name>
            <fieldText>&lt;p&gt;New Address location is created. Please refresh screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Address_Update_Confirmation_Message</name>
        <label>Address Update Confirmation Message</label>
        <locationX>545</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RefreshScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The address location is updated. Please refresh the screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Address_Update_Error_Message</name>
        <label>Address Update Error Message</label>
        <locationX>1370</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddressError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Address_Location_0</name>
        <label>Create New Address Location</label>
        <locationX>1766</locationX>
        <locationY>565</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Address_for_Edit_0</targetReference>
        </connector>
        <fields>
            <name>Create_New_Address_Location_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Address_Location_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ParentRecordId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AssociatedLocation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Location_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type1_0</name>
            <choiceReferences>AddresdTypeOther</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AddresdTypeOther</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>province</name>
                <value>
                    <stringValue>CA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>USA</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddredsRequiredText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(195, 19, 19);&quot;&gt;All Address fields are required to Add Location&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsAddressPresent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>County</name>
            <choiceReferences>countyPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>County</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status2</name>
            <choiceReferences>PaymentPendingStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PaymentPendingStatus</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add Location</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Address_Location_0_0</name>
        <label>Edit Address Location</label>
        <locationX>297</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Address_for_Edit</targetReference>
        </connector>
        <fields>
            <name>Account1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AssociatedLocation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Associated_Location_Record.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Location_Name_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Associated_Location_Record.Location.Name</elementReference>
            </defaultValue>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type1_0_0</name>
            <choiceReferences>AddresdTypeOther</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Associated_Location_Record.Type</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Associated_Location_Record.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressToUpdate</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Associated_Location_Record.Location.VisitorAddress.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Associated_Location_Record.Location.VisitorAddress.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Associated_Location_Record.Location.VisitorAddress.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Associated_Location_Record.Location.VisitorAddress.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Associated_Location_Record.Location.VisitorAddress.Street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CountyToUpdate</name>
            <choiceReferences>CountyToUpdatePL</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Associated_Location_Record.Location.VisitorAddress.County__c</elementReference>
            </defaultValue>
            <fieldText>County</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EditAddressIsRequired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 11, 11);&quot;&gt;All Address fields are required to Save location&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsAddressPresent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CurrentStatusToPendingPayment</name>
            <choiceReferences>InactiveStatus</choiceReferences>
            <choiceReferences>PaymentPendingStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Associated_Location_Record.Status__c</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Associated_Location_Record.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Associated_Location_Record.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Payment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CurrentStatusToActive</name>
            <choiceReferences>ActiveStatus</choiceReferences>
            <choiceReferences>InactiveStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Associated_Location_Record.Status__c</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Associated_Location_Record.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Associated_Location_Record.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Active</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CurrentStatusToInactive</name>
            <choiceReferences>InactiveStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Associated_Location_Record.Status__c</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Associated_Location_Record.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Associated_Location_Record.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inactive</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save Location</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_0</name>
        <label>Error Message</label>
        <locationX>2162</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Error</name>
        <label>Update Error</label>
        <locationX>1106</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdateErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>905</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Associated_Location_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsAddressPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
