flows/CDFA_Multi_Factor_Authentication_Flow_PSP.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Existing_OTP</name>
        <label>Send Existing OTP</label>
        <locationX>479</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Verification_Screen_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailPSP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> PSP Email verification code </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendExistOTP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_OTP</name>
        <label>Send OTP</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Verification_Screen_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailPSP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> PSP Email verification code one</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendOTP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Increase_Login_Attempt_by_1</name>
        <label>Increase Login Attempt by 1</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>invalidAttempt</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Login_to_Salesforce</name>
        <label>Login to Salesforce</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://cdfa--cdfaclone.sandbox.my.site.com/psp/s</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verification_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>logout_from_Salesforce</name>
        <label>logout from Salesforce</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logout_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_OTP_is_Valid</name>
        <label>Check if OTP is Valid</label>
        <locationX>479</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Check_no_of_Attempts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid?</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_OTP_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_OTP_Records_Exist.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Login_to_Salesforce</targetReference>
            </connector>
            <label>Valid?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_no_of_Attempts</name>
        <label>Check no of Attempts</label>
        <locationX>776</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Increase_Login_Attempt_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 3?</defaultConnectorLabel>
        <rules>
            <name>More_then_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invalidAttempt</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>logout_from_Salesforce</targetReference>
            </connector>
            <label>More then 3?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>Decision 6</label>
        <locationX>355</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_OTP_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>flow_ends</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Information.Id</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <label>flow ends</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTPExpired</name>
        <label>OTPExpired?</label>
        <locationX>924</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_OTP_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New OTP</defaultConnectorLabel>
        <rules>
            <name>Send_OTP_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_OTP_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_OTP_Record.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User_Information.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_OTP_Record.Expired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_OTP_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Existing_OTP</targetReference>
            </connector>
            <label>Send OTP Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification</name>
        <label>Verification</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Invalid_Login_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>existingUserVerification</defaultConnectorLabel>
        <rules>
            <name>newUserVarification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OTP_Records_NEW.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Login</targetReference>
            </connector>
            <label>newUserVarification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_0</name>
        <label>Verification</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Update_OTP_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>existingUserVerification</defaultConnectorLabel>
        <rules>
            <name>newUserVarification_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OTP_Records_NEW.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OTP_Record</targetReference>
            </connector>
            <label>newUserVarification</label>
        </rules>
    </decisions>
    <description>This flow used for portal users MFA  and used in login flow cloned from the RSA flow and updated for the PSP portal.</description>
    <environments>Default</environments>
    <formulas>
        <name>senderEmail</name>
        <dataType>String</dataType>
        <expression>&apos;no-reply@cdfa.ca.gov&apos;</expression>
    </formulas>
    <formulas>
        <name>SenderEmailPSP</name>
        <dataType>String</dataType>
        <expression>&apos;psp@cdfa.ca.gov&apos;</expression>
    </formulas>
    <interviewLabel>CDFA Multi Factor Authentication Flow PSP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CDFA Multi Factor Authentication Flow PSP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OTP_Record</name>
        <label>Create OTP Record</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>GET_OTP_Records_NEW</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <object>OTP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_OTP_Record</name>
        <label>Get Existing OTP Record</label>
        <locationX>924</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OTPExpired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OTP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OTP_Records</name>
        <label>GET OTP Records</label>
        <locationX>924</locationX>
        <locationY>2048</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_OTP_is_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_OTP_Record</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OTP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerificationCode_new</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OTP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OTP_Records_Exist</name>
        <label>GET OTP Records_Exist</label>
        <locationX>479</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_OTP_is_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_OTP_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OTP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerificationCode_Exist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OTP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_OTP_Records_NEW</name>
        <label>GET OTP Records(NEW)</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_OTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_OTP_Record</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OTP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProfileId</name>
        <label>Profile</label>
        <locationX>355</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSP Farmer Customer Community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Information</name>
        <label>User Information</label>
        <locationX>355</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OTP_Record</name>
        <label>Update OTP Record</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_OTP_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <object>OTP__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OTP_Record_0</name>
        <label>Update OTP Record</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_OTP_Records_Exist.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <object>OTP__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Invalid_Login</name>
        <label>Invalid Login</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verification_Screen_0</targetReference>
        </connector>
        <fields>
            <name>MessageInvalid</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(36, 36, 36); background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;The code you entered does not match the code generated for this account. Please select&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(36, 36, 36); background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;Try Again&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(36, 36, 36); background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;to re-enter the code that was sent to your email address.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Login_0</name>
        <label>Invalid Login</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Verification_Screen_0_0</targetReference>
        </connector>
        <fields>
            <name>MessageInvalid_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(36, 36, 36); background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;The code you entered does not match the code generated for this account. Please select&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(36, 36, 36); background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;Try Again&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(36, 36, 36); background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;to re-enter the code that was sent to your email address.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Logout_Screen</name>
        <label>Logout Screen</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MaxLimitExceeded</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have exceeded the Maximum no of Limits to login. Please contact your system admin for help.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Screen_0</name>
        <label>Verification Screen</label>
        <locationX>924</locationX>
        <locationY>1940</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_OTP_Records</targetReference>
        </connector>
        <fields>
            <name>message_0</name>
            <fieldText>&lt;p&gt;To ensure the security of your account, we need to verify your identity.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;We have sent a verification code to the email account you registered on this system.&lt;/p&gt;&lt;p&gt;Please retrieve the email and enter the code in the space below.&lt;/p&gt;&lt;p&gt;If you require assistance, contact&amp;nbsp;&lt;a href=&quot;mailto:RSA@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-family: inherit;&quot;&gt;PSP@cdfa.ca.gov&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WarningMessage_new</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 8, 8); font-size: 14px;&quot;&gt;{!invalidAttempt} of 3 invalid login attempts recorded; if you exceed 3 invalid attempts, your account will be locked.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>invalidAttempt</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>invalidAttempt</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WarningMessage_new1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 8, 8);&quot;&gt;{!invalidAttempt}&amp;nbsp;of 3 invalid login attempts recorded; entering another invalid code will lock your account.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>invalidAttempt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VerificationCode_new</name>
            <dataType>String</dataType>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Verify Me</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Screen_0_0</name>
        <label>Verification Screen</label>
        <locationX>479</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_OTP_Records_Exist</targetReference>
        </connector>
        <fields>
            <name>message_0_0</name>
            <fieldText>&lt;p&gt;To ensure the security of your account, we need to verify your identit.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;We have sent a verification code to the email account you registered on this system.&lt;/p&gt;&lt;p&gt;Please retrieve the email and enter the code in the space below.&lt;/p&gt;&lt;p&gt;If you require assistance, contact&amp;nbsp;&lt;a href=&quot;mailto:RSA@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-family: inherit;&quot;&gt;PSP@cdfa.ca.gov&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WarningMessage_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 8, 8); font-size: 14px;&quot;&gt;{!invalidAttempt} of 3 invalid login attempts recorded; if you exceed 3 invalid attempts, your account will be locked.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>invalidAttempt</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>invalidAttempt</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WarningMessage_0_3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 8, 8); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!invalidAttempt}&amp;nbsp;of 3 invalid login attempts recorded; entering another invalid code will lock your account.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>invalidAttempt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VerificationCode_Exist</name>
            <dataType>String</dataType>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Verify Me</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>229</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProfileId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SendExistOTP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: inherit; font-family: verdana;&quot;&gt;We received a request to log into The Produce Safety Program Portal and your privacy is important to us.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: inherit; font-family: verdana;&quot;&gt;We ask that you validate your identity by entering the verification code on the portal.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(66, 66, 66); font-family: verdana; font-size: 14.6667px;&quot;&gt;Your verification code is:&lt;/span&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-family: verdana; font-size: 14px;&quot;&gt;{!Get_Existing_OTP_Record.OTP__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: inherit; font-family: verdana;&quot;&gt;This code expires in 1 hour&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: inherit; font-family: verdana;&quot;&gt;If you feel you received this message in error, please contact us at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:rsa@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: verdana; font-size: 11pt;&quot;&gt;psp@cdfa.ca.gov&lt;/a&gt;&lt;span style=&quot;font-family: verdana; color: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px; background-color: rgb(255, 255, 255); color: rgb(247, 249, 255); font-family: Roboto, arial, sans-serif;&quot;&gt;ver.MFAPSP01&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendOTP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: verdana; color: inherit;&quot;&gt;We received a request to log into The Produce Safety Program Portal and your privacy is important to us.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; color: inherit;&quot;&gt;We ask that you validate your identity by entering the verification code on the portal.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; font-size: 14.6667px; color: rgb(66, 66, 66);&quot;&gt;Your verification code is:&lt;/span&gt;&lt;strong style=&quot;font-family: verdana; font-size: 14px;&quot;&gt;&amp;nbsp;{!GET_OTP_Records_NEW.OTP__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; color: inherit;&quot;&gt;This code expires in 1 hour&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; color: inherit;&quot;&gt;If you feel you received this message in error, please contact us at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:rsa@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Verdana, Helvetica, sans-serif; background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;psp@cdfa.ca.gov&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Verdana, Helvetica, sans-serif; background-color: rgb(255, 255, 255); font-size: 8px; color: rgb(255, 255, 255);&quot;&gt;ver.MFAPSPNEWOTP&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>User_Information.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>invalidAttempt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
