flows/CDFA_Notifications_Agency_Renewal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>expiredAlready</name>
        <label>expiredAlready</label>
        <locationX>1106</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody_Expired</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@cdfa.ca.gov</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Agency Renewal Notifications</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>expiredToday</name>
        <label>expiredToday</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody_ExpToday</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@cdfa.ca.gov</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Agency Renewal Notifications</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>expireIn30days</name>
        <label>expireIn30days</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@cdfa.ca.gov</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Agency Renewal Notifications</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>expireIn60days</name>
        <label>expireIn60days</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@cdfa.ca.gov</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Agency Renewal Notifications</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>expireIn7days</name>
        <label>expireIn7days</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@cdfa.ca.gov</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Agency Renewal Notifications</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>EXPIRATION_CHECK</name>
        <label>EXPIRATION CHECK</label>
        <locationX>710</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EXP_IN_7_DAYS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expire_in_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>expireIn7days</targetReference>
            </connector>
            <label>EXP IN 7 DAYS</label>
        </rules>
        <rules>
            <name>EXP_IN_30_DAYS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expire_in_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>expireIn30days</targetReference>
            </connector>
            <label>EXP IN 30 DAYS</label>
        </rules>
        <rules>
            <name>EXP_IN_60_DAYS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expire_in_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>expireIn60days</targetReference>
            </connector>
            <label>EXP IN 60 DAYS</label>
        </rules>
        <rules>
            <name>EXP_TODAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expire_in_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>expiredToday</targetReference>
            </connector>
            <label>EXP TODAY</label>
        </rules>
        <rules>
            <name>EXPIRED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expire_in_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>expiredAlready</targetReference>
            </connector>
            <label>EXPIRED</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email__c}</expression>
    </formulas>
    <formulas>
        <name>expireInDays</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Exp_Date__c}- {!$Flow.CurrentDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CDFA_Notifications_Agency_Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CDFA_Notifications_Agency_Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EXPIRATION_CHECK</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Renewal_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123d0000004WxhAAE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-04</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your Registered Service Agency (RSA) registration will expire in {!expireInDays} days. Please login to the RSA Portal&lt;a href=&quot;https://cdfa--rsaclone.sandbox.my.site.com/rsaportal/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; &lt;/a&gt;to submit a Registration Renewal form. It is unlawful to perform the duties of a service agency unless the agency and agent(s) are registered by the Secretary of Food and Agriculture and the current registration fee and any penalties have been paid.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please contact the RSA admin at&amp;nbsp;&lt;a href=&quot;mailto:RSA@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit;&quot;&gt;RSA@cdfa.ca.gov&lt;/a&gt;&amp;nbsp;with any questions.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody_Expired</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your Registered Service Agency (RSA) registration has expired. Please login to the &lt;a href=&quot;https://applications.cdfa.ca.gov/RegisteredServiceAgency&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;RSA Portal&lt;/a&gt; to submit a Registration Renewal form. It is unlawful to perform the duties of a service agency unless the agency and agent(s) are registered by the Secretary of Food and Agriculture and the current registration fee and any penalties have been paid.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the RSA admin at&amp;nbsp;&lt;a href=&quot;mailto:RSA@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit;&quot;&gt;RSA@cdfa.ca.gov&lt;/a&gt;&amp;nbsp;with any questions.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody_ExpToday</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your Registered Service Agency (RSA) registration expires today. Please login to the &lt;a href=&quot;https://applications.cdfa.ca.gov/RegisteredServiceAgency&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;RSA Portal&lt;/a&gt; to submit a Registration Renewal form. It is unlawful to perform the duties of a service agency unless the agency and agent(s) are registered by the Secretary of Food and Agriculture and the current registration fee and any penalties have been paid.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact the RSA admin at&amp;nbsp;&lt;a href=&quot;mailto:RSA@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit;&quot;&gt;RSA@cdfa.ca.gov&lt;/a&gt;&amp;nbsp;with any questions.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
