flows/Create_User_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_User_Profile</name>
        <label>Check User Profile</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Profile_Record_For_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Records.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Records.Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile_Record_0</targetReference>
            </connector>
            <label>Check Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_User_Or_Existing</name>
        <label>Create New User Or Existing</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ExistingUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User</targetReference>
            </connector>
            <label>New User</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Locale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LocaleSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create User Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create User Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AdminPermissionSet1_0</name>
        <label>AdminPermissionSet1</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Record_creation_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>User_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PSBZ0000000LCh</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>AgentPermissionSet_0</name>
        <label>AgentPermissionSet</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Record_creation_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Agent_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PSBZ0000000LCr</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User_Record_0</name>
        <label>Create User Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>User_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <stringValue>guest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Profile_Record_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>TimeZoneKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User_Record_0_0</name>
        <label>Create User Record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Agent_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <stringValue>guest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Profile_Record_For_Agent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>TimeZoneKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Agent_User</name>
        <label>Agent User</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AgentPermissionSet_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Record</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Record_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Record_0</name>
        <label>Get Profile Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDFA Community Login User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Record_For_Agent</name>
        <label>Get Profile Record For Agent</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User_Record_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDFA Agent Community Login User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_User_Or_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_0</name>
        <label>User</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AdminPermissionSet1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExistingUser</name>
        <label>ExistingUser</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserRecord</name>
            <fieldText>&lt;p&gt;User with this &lt;b&gt;{!Get_User_Record.Username}&lt;/b&gt; already exist&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_creation_Message</name>
        <label>Record creation Message</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordCreationMessage</name>
            <fieldText>&lt;p&gt;User Record Created Successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Record_Screen</name>
        <label>User Record Screen</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Profile</targetReference>
        </connector>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Records.FirstName</elementReference>
            </defaultValue>
            <fieldText>FirstName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Records.LastName</elementReference>
            </defaultValue>
            <fieldText>LastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Records.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UserName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Records.Email</elementReference>
            </defaultValue>
            <fieldText>UserName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TimeZoneKey</name>
            <choiceReferences>TimeZone</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>America/Los_Angeles</stringValue>
            </defaultValue>
            <fieldText>TimeZoneKey</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Role</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;Current Role -&lt;b&gt;{!Get_Contact_Records.Role__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
