flows/Generate_OTP.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Apex</name>
        <label>Generate Apex</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>OTPGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_OTP_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>OTPGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_OTP_Record</name>
        <label>Update OTP Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varOTPRecord.OTP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Apex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOTPRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOTPRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOTPRecord.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOTPRecord.GeneratedDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOTPRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Generate OTP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate OTP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOTPRecord</name>
        <label>Update OTP Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>varOTPRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Apex</targetReference>
        </connector>
        <object>OTP__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOTPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OTP__c</objectType>
    </variables>
</Flow>
