flows/Person_Examination_Review_with_or_without_exact_match.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Renew_Exam_type_with_review_needed</name>
        <label>Renew Exam type with review needed</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <actionName>Contact.Renew_Exam_type_with_review_needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_the_contactId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_through_the_contactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Renew_Exam_type_with_review_needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Renew_with_Exact_match_Send_Email_to_contact</name>
        <label>Renew with Exact match Send Email to contact</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <actionName>Contact.Renewal_With_Exact_Match</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_the_contactId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_through_the_contactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Renewal_With_Exact_Match</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_If_contact_Id_is_not_null</name>
        <label>Check If contact Id is not null</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_the_contactId</targetReference>
            </connector>
            <label>Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Review_required</name>
        <label>Verify Review required</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Renew_with_Exact_match_Send_Email_to_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ReviewRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReviewRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renew_Exam_type_with_review_needed</targetReference>
            </connector>
            <label>Check ReviewRequired</label>
        </rules>
    </decisions>
    <description>Renewal Type With Exact Match Contact &amp; Renew with Review Required</description>
    <environments>Default</environments>
    <interviewLabel>Person Examination Review with or without exact match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Person Examination Review with or without exact match</label>
    <loops>
        <name>Loop_through_the_contactId</name>
        <label>Loop through the contactId</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <collectionReference>ContactId_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Review_required</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_contact_Id_is_not_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isReviewRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
