flows/When_Payment_is_Done_send_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailToPrimaryContact</name>
        <label>SendEmailToPrimaryContact</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetPrimaryContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CDFA DMS RSA Renewal Submission Received</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToPrimaryContactofApplicationAcc</name>
        <label>SendEmailToPrimaryContactofApplicationAcc</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForApplicationAcc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetPrimaryContactOfApplicationAcc.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CDFA DMS RSA Business Application Received</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>MailonrecordType</name>
        <label>MailonrecordType</label>
        <locationX>644</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123R000000X1XwQAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrimaryContactOfApplicationAcc</targetReference>
            </connector>
            <label>IfApplication</label>
        </rules>
        <rules>
            <name>IfRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123d0000004WxhAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrimaryContact</targetReference>
            </connector>
            <label>IfRenewal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Email will be trigger when the primary contact has email id</description>
        <name>ToSendEmailOnlyWhenGetPrimaryContact</name>
        <label>ToSendEmailOnlyWhenGetPrimaryContact</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToPrimaryContact</targetReference>
            </connector>
            <label>If_True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Email will be trigger when the primary contact has email id</description>
        <name>ToSendEmailOnlyWhenGetPrimaryContactofApplicationAcc</name>
        <label>ToSendEmailOnlyWhenGetPrimaryContactofApplicationAcc</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimaryContactOfApplicationAcc.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToPrimaryContactofApplicationAcc</targetReference>
            </connector>
            <label>If_True</label>
        </rules>
    </decisions>
    <description>Once the payment is done and succcessful send Email to Primary Contact</description>
    <environments>Default</environments>
    <formulas>
        <name>senderEmail</name>
        <dataType>String</dataType>
        <expression>&apos;no-reply@cdfa.ca.gov&apos;</expression>
    </formulas>
    <interviewLabel>When Payment is Done send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>When Payment is Done send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountId</name>
        <label>GetAccountId</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MailonrecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Account__r.Original_Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryContact</name>
        <label>GetPrimaryContact</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToSendEmailOnlyWhenGetPrimaryContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123d0000004WwjAAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryContactOfApplicationAcc</name>
        <label>GetPrimaryContactOfApplicationAcc</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToSendEmailOnlyWhenGetPrimaryContactofApplicationAcc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123d0000004WwjAAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>Agency_Renewal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!GetPrimaryContact.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Renewal information has been received by the California Department of Food and Agriculture. You will be contacted if there are any questions regarding your Registered Service Agency renewal.&amp;nbsp;If you have any questions, please contact us at: &lt;a href=&quot;mailto:rsa@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;rsa@cdfa.ca.gov&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyForApplicationAcc</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetPrimaryContactOfApplicationAcc.Name},&lt;/span&gt;&lt;span style=&quot;color: black;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Your Registered Service Agency Business Application has been received by the California Department of Food and Agriculture. You will be contacted if there are any questions regarding your application.&amp;nbsp;If you have any questions, please contact us at:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:rsa@cdfa.ca.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: blue;&quot;&gt;rsa@cdfa.ca.gov&lt;/a&gt;&lt;span style=&quot;color: black;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;RSA Administrator&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Division of Measurement Standards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;California Department of Food and Agriculture&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
